@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foregroung-rgba: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgba: 255, 255, 255;
  }
}

body{
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
} */